@use "../abstracts" as *;
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

.head {
  &__container {
    position: relative;
    padding-bottom: 55px;
    z-index: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    @media (max-width: $tablet-width) {
      padding-bottom: 35px;
    }
    @media (max-width: $mobile-width) {
      flex-direction: column-reverse;
    }
  }
}

.about {
  &__container {
    display: flex;
    flex-direction: column;
  }
}
