@use "../abstracts" as *;

body {
  font-family: $font-family, sans-serif;
  color: $text-Color;
  font-size: toRem($base-font-size);
  font-weight: 400;
  line-height: lineHeightToRem($base-line-height, $base-font-size);
  min-width: 446px;
  background-color: $bg-color;
}

.body--overflow {
  overflow: hidden;
}

button {
  display: inline-block;
  cursor: pointer;
  color: $btn-text-Color;
}

a {
  color: $link-text-Color;
}

.link {
  &:hover {
    color: $link-text-Hover;
  }
}
