@font-face {
  font-family: Italiana;
  font-display: swap;
  src: url("../fonts/Italiana-Regular.woff2") format("woff2"),
    url("../fonts/Italiana-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"),
    url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.woff2?3ip7t9") format("woff2"),
    url("fonts/icomoon.woff?3ip7t9") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock-fill_icon:before {
  content: "\e900";
  color: #9d875c;
}
.icon-geo-alt-fill_icon:before {
  content: "\e901";
  color: #9d875c;
}
.icon-insta_icon:before {
  content: "\e902";
  color: #c1ab81;
}
.icon-medium_icon:before {
  content: "\e904";
  color: #c1ab81;
}
.icon-paragraph_icon:before {
  content: "\e905";
  color: #9d875c;
}
.icon-play-fill_icon:before {
  content: "\e908";
}
.icon-star_icon:before {
  content: "\e909";
  color: #9d875c;
}
.icon-star-fill_icon:before {
  content: "\e90a";
  color: #9d875c;
}
.icon-tictoc_icon:before {
  content: "\e90c";
  color: #c1ab81;
}
.icon-twitter_icon:before {
  content: "\e90d";
  color: #c1ab81;
}
