@use "../abstracts" as *;
.header {
  padding: 35px 0;

  &__logo {
    width: 216px;
    @media (max-width: $tablet-width) {
      margin: 0 auto;
    }
  }

  &__action {
    display: flex;
    gap: 40px;
    align-items: center;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
