@use "../abstracts" as *;
.header {
  padding: 35px 0;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1030px) {
    }
  }

  &__logo {
    width: 216px;
    z-index: 4;
    @media (max-width: 1030px) {
      margin: 0 auto;
    }
  }

  &__action {
    display: flex;
    gap: 40px;
    align-items: center;
    @media (max-width: 1030px) {
      display: none;
    }
  }
}

.menu {
  &__body {
    position: relative;
    height: 100%;

    @media (max-width: 1030px) {
      transition: all ease-in-out 0.5s;
      display: block;
      position: absolute;
      padding-top: 100px;
      top: -35px;
      left: -100vw;
      width: 100vw;
      height: 100vh;
      background: rgba(239, 233, 221, 0.2);
      backdrop-filter: blur(15px);
      z-index: 3;
      font-weight: bold;
      font-size: toRem(50);
    }
  }

  &__list {
    height: inherit;
    display: flex;
    gap: 40px;
    align-items: center;
    @media (max-width: 1030px) {
      flex-direction: column;
      height: auto;
      gap: 20px;
    }
  }

  &__line {
    display: none;
    @media (max-width: 1030px) {
      height: 2px;
      display: block;
      border: none;
      background: linear-gradient(
        90deg,
        transparent 0%,
        $text-Color 40%,
        $text-Color 60%,
        transparent 100%
      );
    }
  }
}

.nav__action {
  display: none;
  @media (max-width: 1030px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .action-header__button {
      padding: 10px 30px;
      font-weight: bold;
    }
    .button--border {
      border-width: 3px;
    }
  }
}
