@use "../abstracts" as *;

.site__logo {
  width: 216px;
  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}

.head {
  position: relative;

  width: 100%;
  margin-bottom: 150px;
  @media (max-width: $tablet-width) {
    margin-bottom: 130px;
  }
  @media (max-width: $mobile-width) {
    margin-bottom: 100px;
  }
  &__content {
    position: absolute;
    max-width: 645px;
    z-index: 2;
    @media (max-width: $mobile-width) {
      position: relative;
      margin: 15px;
    }
  }
  &__title {
    font-family: "Italiana";
    font-size: toRem(100);
    text-transform: capitalize;
    font-weight: 400;
    line-height: lineHeightToRem(100, 100);
    margin: 0 0 35px;
    @media (max-width: $tablet-width) {
      font-size: 5rem;
    }
  }
  &__bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/BG.jpg");
    @include retina-image("../img/BG@2x.jpg");
  }

  &__slider-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;

    height: 750px;
    margin-left: 416px;
    padding-left: 15px;
    @media (max-width: $tablet-width) {
      margin-left: 329px;
    }
    @media (max-width: $mobile-width) {
      margin: 0 auto;
      width: 100%;
      height: 555px;
    }
  }

  &__slider-line {
    position: relative;
    right: 0;
    display: flex;
    gap: 40px;
    transition: var(--transition);
    @media (max-width: $tablet-width) {
      gap: 30px;
    }
  }
  &-slide {
    position: relative;

    z-index: 1;
    width: 120px;
    align-self: center;
    transition: var(--transition);
    @media (max-width: $tablet-width) {
      width: 100px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      top: 12px;
      left: -2px;
      border: 1px solid #c1ab81;
      border-radius: 50%;
      z-index: -1;
      transition: var(--transition);
      @media (max-width: $tablet-width) {
        width: 100px;

        height: 100px;
        top: 12px;
        left: -2px;
      }
    }

    &--active {
      position: relative;
      z-index: 1;
      width: 650px;

      @media (max-width: $tablet-width) {
        width: 550px;
      }
      @media (max-width: $mobile-width) {
        width: 330px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 650px;
        height: 650px;
        top: 73px;
        left: -12px;
        border: 1px solid #c1ab81;
        border-radius: 50%;
        z-index: -1;
        transition: var(--transition);
        @media (max-width: $tablet-width) {
          width: 550px;
          height: 550px;
          top: 60px;
          left: -10px;
        }
        @media (max-width: $mobile-width) {
          width: 330px;
          height: 330px;
          top: 39px;
          left: -7px;
        }
      }
      & > .cat {
        left: -13px;
        top: -10px;
        scale: 1.02;
        @media (max-width: $mobile-width) {
          left: -8px;
          top: -2px;
        }
      }
      & > .dachshund {
        left: -5px;
        scale: 1.03;
        @media (max-width: $mobile-width) {
          left: -4px;
        }
      }
      & > .cat-white {
        left: 3px;
        top: 6px;
        scale: 1.04;
        @media (max-width: $mobile-width) {
          left: 0px;
          top: 6px;
        }
      }
    }
  }

  &__control {
    position: absolute;
    bottom: 70px;
    right: 0;
    z-index: 4;
    text-align: right;
    padding-right: 50px;
    @media (max-width: $mobile-width) {
      padding-right: 15px;
    }
  }
}
.btn-arrow {
  width: 60px;
  border: none;
  background: transparent;
  transition: all ease-in-out 0.5s;

  &:hover {
    scale: 1.3;
  }
}
.cat {
  position: relative;
  left: 0;
  top: 0;
  scale: 1;
  transition: var(--transition);
}

.dachshund {
  position: relative;
  left: 0;
  scale: 1;
  transition: var(--transition);
}

.cat-white {
  position: relative;
  left: 0;
  top: 0;
  scale: 1;
  transition: var(--transition);
}

.about {
  position: relative;
  padding-top: clamp(50px, 18vw, 150px);
  padding-bottom: clamp(50px, 20vw, 166px);
  background-color: #efe9dd;
  isolation: isolate;
  &__body {
    display: flex;
    align-items: center;
    margin-bottom: clamp(50px, 10vw, 100px);
    color: #222220;
    @media (max-width: $tablet-width) {
      flex-direction: column-reverse;
      align-items: unset;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__image {
    flex: 0 1 860px;
    border: 1px solid #9d875c;
    padding: 20px;
    margin-right: 20px;
    @media (max-width: $tablet-width) {
      width: clamp(200px, 84vw, 860px);
      flex: none;
      margin-right: 0;
    }
  }
  &__content {
    margin: 0 auto;
    max-width: 515px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: $tablet-width) {
      width: clamp(200px, 84vw, 860px);
      margin: 0;
      margin-bottom: clamp(20px, 10vw, 40px);
    }
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: $smallest-width) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    mix-blend-mode: lighten;
    background: url(../img/bg-img_01.jpg);
    background-position: bottom 280px right 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-icon {
    margin-bottom: 30px;
  }
}

.benefits-item {
  text-align: center;
  color: #222220;
  font-family: "Italiana";
  font-size: toRem(24);
  line-height: normal;
  text-transform: capitalize;
}

.content-about {
  &__label {
    font-weight: 400;
    font-size: toRem(16);
    text-transform: capitalize;
  }
  &__title {
    color: #9d875c;
    font-family: "Italiana";
    font-size: toRem(48);
    line-height: normal;
    font-weight: 400;
    text-transform: capitalize;
  }
  &__quote {
    font-style: italic;
    font-weight: 400;
  }
  &__button {
    color: #222220;
    background: url("../img/bg-btn.jpg") 100% / cover no-repeat;
    &:hover {
      border: 1px solid #3f3522;
      color: #3f3522;
    }
  }
}

.items-about {
  &__item {
    text-align: center;
  }
}
.items__icon {
  padding: 30px;
  width: 140px;
  height: 140px;
  background: url("../img/bg-btn.jpg") 100% / cover no-repeat;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.services {
  &__body {
    position: relative;
    padding-top: clamp(80px, 9vw, 160px);
    padding-bottom: clamp(80px, 9vw, 160px);
    z-index: 1;
    background: linear-gradient(
      90deg,
      rgba(193, 171, 129, 1) 42%,
      rgba(34, 34, 32, 1) 42%
    );
  }
  &__decoration {
    position: absolute;
    width: clamp(100px, 19vw, 370px);
    top: 0;
    right: 0;
    z-index: -1;
    mix-blend-mode: screen;
  }

  &__image {
    flex: 0 1 830px;
    padding: 20px;
    margin-right: 30px;
    border: 1px solid #fff;
    @media (max-width: $tablet-width) {
      margin: 0;
      flex: none;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 515px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: $tablet-width) {
      margin: 0;
      margin-bottom: clamp(20px, 10vw, 40px);
      width: clamp(200px, 84vw, 860px);
    }
  }
}

.content-services {
  &__label {
    color: #fff;
    font-weight: 400;
    font-size: toRem(16);
    text-transform: capitalize;
  }
  &__title {
    color: #9d875c;
    font-family: "Italiana";
    font-weight: 400;
    font-size: toRem(48);
    text-transform: capitalize;
  }
  &__quote {
    color: #fff;
    font-size: toRem(16);
    font-style: italic;
  }
  &__text {
    color: #fff;
    font-size: toRem(16);
  }

  &__button {
    @media (max-width: $tablet-width) {
      color: rgba(34, 34, 32, 1);
      border-color: rgba(34, 34, 32, 1);
    }
  }
}

.items-services {
  position: relative;
  background-color: #efe9dd;
  padding-top: 160px;
  padding-bottom: 161px;
  isolation: isolate;
  @media (max-width: $mobile-width) {
    padding-top: 80px;
    padding-bottom: 81px;
  }
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/bg-img_01.jpg);
    background-position: top -135% right 70%;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
  }
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/bg-img_01.jpg);
    background-position: bottom -45% right 100%;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
  }
  .card {
    &--small {
      max-width: 590px;
    }
    &--right {
      margin-right: 0;
      margin-left: auto;
      @media (max-width: $tablet-width) {
        margin: 0;
      }
    }
  }

  &__text {
    color: #9d875c;
    font-family: "Italiana";
    font-size: clamp(toRem(25), 5vw, toRem(32));
    font-weight: normal;
  }

  &__image {
    margin-bottom: 50px;
    border: 1px solid transparent;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    @media (max-width: $mobile-width) {
      margin-bottom: 25px;
    }
    &:hover {
      border: 1px solid #9d875c;
    }
    & img {
      transition: 1s;
      display: block;
    }
    & img:hover {
      transform: scale(1.1);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  &__link {
    flex: 0 1 100%;
    transition: all ease-in-out 0.5s;
    max-width: 55px;
    height: 25px;
    &:hover {
      width: 70px;
      height: 30px;
    }
  }

  &__bg {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/bg-img_01.jpg);
    background-position: bottom 80% right 55%;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    transform: scaleX(-1);
  }
}

.products {
  background-color: #efe9dd;
  position: relative;
  padding-bottom: clamp(80px, 9vw, 160px);
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/bg-img_01.jpg);
    background-position: bottom 120% right 50%;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    transform: scaleX(-1);
  }
  &__header {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: center;
    gap: 20px;
    text-transform: capitalize;
    color: #222220;
    margin-bottom: 50px;
    padding: 0 15px;
  }
  &__label {
    font-size: toRem(16);
    font-weight: 400;
  }
  &__title {
    font-family: "Italiana";
    font-weight: 400;
    font-size: toRem(48);
    color: #9d875c;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 50px;
    column-gap: 55px;
    margin-bottom: 50px;
    justify-content: center;
  }

  &__button {
    color: #222220;
    background: url("../img/bg-btn.jpg") 100% / cover no-repeat;
    &:hover {
      border: 1px solid #3f3522;
      color: #3f3522;
    }
  }
}

.card {
  max-width: 350px;
  position: relative;

  margin: 0 auto;
  &__image {
    position: relative;
    background: url("../img/bg-card.jpg") 100% / cover no-repeat;
    margin-bottom: 40px;
    width: 350px;
    height: 350px;
    &::before {
      opacity: 0;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
      background-color: #9d875c;
      mix-blend-mode: multiply;
      transition: all ease-in-out 0.5s;
    }

    &:hover {
      opacity: 1;
      & > .card__button {
        opacity: 1;
      }
      &::before {
        opacity: 1;
      }
    }
  }

  &__title {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }

  &__name,
  &__price {
    font-size: toRem(24);
    font-weight: normal;
  }

  &__name {
    transition: all ease-in-out 0.5s;
    position: relative;
    &::after {
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 3px;
      background-color: #3f3522;
      transition: all ease-in-out 0.5s;
    }
    &:hover {
      color: #3f3522;
      &::after {
        opacity: 1;
      }
    }
  }

  &__raiting {
    font-size: toRem(26);
    display: flex;
    gap: 10px;
  }

  &__button {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #222220;
    background: url("../img/bg-card.jpg") 100% / cover no-repeat;
    transition: all ease-in-out 0.5s;
    &:hover {
      color: #000000;
      border: 1px solid #3f3522;
    }
  }
}

._icon-arrow {
  display: inline-block;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts {
  position: relative;
  background-color: #efe9dd;
  z-index: 1;
  padding-bottom: 160px;
  @media (max-width: $mobile-width) {
    padding-bottom: 80px;
  }
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 140px;
    top: 0;
    z-index: -1;
    background-color: #c1b081;
    @media (max-width: $mobile-width) {
      height: 95px;
    }
  }

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(../img/bg-img_01.jpg);
    background-position: top 5610% right 70%;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
  }

  &__body {
    padding-top: 55px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    @media (max-width: $tablet-width) {
      flex-direction: column;
    }
  }

  &__media {
    position: relative;
    margin-right: 100px;
    z-index: 1;
    @media (max-width: $tablet-width) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  &__top-image {
    position: relative;
    z-index: 2;
    margin-bottom: -70px;
    margin-right: 80px;
    border: 1px solid #ffffff;
    padding: 20px;
  }
  &__bottom-image {
    position: relative;
    z-index: 3;
    margin-left: 80px;
    outline: 1px solid #c1b081;
    padding: 20px;
  }
  &__play {
    position: absolute;
    width: clamp(100px, 14vw, 220px);
    height: clamp(100px, 14vw, 220px);
    border-radius: 50%;
    border: 20px solid transparent;
    outline: 1px solid #c1ab81;
    padding: 0;
    background: url("../img/bg-btn_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #222220;
    font-size: toRem(48);
    text-align: center;
    top: -8%;
    left: -14%;
    transition: all ease-in-out 0.5s;
    z-index: 5;
    @media (max-width: $tablet-width) {
      top: -5%;
      left: -8%;
      font-size: toRem(36);
    }
    @media (max-width: $mobile-width) {
      border-width: 10px;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: #bbb6a8;
      mix-blend-mode: soft-light;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.content-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #222220;
  max-width: 485px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
  @media (max-width: $mobile-width) {
    margin-left: 30px;
  }
  &__label {
    font-size: toRem(16);
    font-weight: 400;
    text-transform: capitalize;
  }
  &__title {
    color: #9d875c;
    font-family: "Italiana";
    font-size: clamp(toRem(24), 5vw, toRem(48));
    font-weight: 400;
    text-transform: capitalize;
  }
  &__hours {
    font-size: clamp(toRem(15), 5vw, toRem(20));

    line-height: lineHeightToRem(40, 20);
    position: relative;
    .icon-clock-fill_icon {
      position: absolute;
      width: 16px;
      height: 16px;
      display: inline-block;
      top: 8px;
      left: -40px;
    }
  }

  &__contacts {
    position: relative;
    font-size: clamp(toRem(15), 5vw, toRem(20));
    line-height: lineHeightToRem(40, 20);
    color: #222220;

    & a {
      color: #222220;
      &:hover {
        text-decoration: underline;
        color: #7c7c75;
      }
    }
    .icon-geo-alt-fill_icon {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      top: 8px;
      left: -40px;
    }
  }
}

.contacts {
  &__button {
    background: url("../img/bg-btn.jpg") 100% / cover no-repeat;
    color: #222220;
    &:hover {
      border-color: #7c7c75;
    }
  }

  &__mail {
    font-size: clamp(toRem(10), 4vw, toRem(20));
  }
  &__address {
    margin-bottom: 30px;
  }
}

.reviews {
  padding-top: 20px;
  padding-bottom: 160px;
  margin-top: -1px;
  background-color: #efe9dd;
  @media (max-width: $mobile-width) {
    padding-bottom: 100px;
  }

  &__content {
    &.swiper {
      padding-top: 30px;
      @media (max-width: $mobile-width) {
        padding-bottom: 100px;
      }
    }
  }

  .swiper-slide {
    padding: 0 35px;
  }

  &__button-prev {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 5%;
    z-index: 2;
    transform: translateY(-50%) scale(-1, 1);
    transition: all ease-in-out 0.5s;
    @media (max-width: $mobile-width) {
      top: 90%;
      left: 20%;
    }
    &:hover {
      scale: 1.2;
    }
  }

  &__button-next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 5%;
    z-index: 2;
    transform: translateY(-50%);
    transition: all ease-in-out 0.5s;
    @media (max-width: $mobile-width) {
      top: 90%;
      right: 20%;
    }
    &:hover {
      scale: 1.2;
    }
  }
  &__icon {
    margin-bottom: 40px;
  }
  &__text {
    color: #222220;
    margin: 0 auto;
    font-size: clamp(toRem(15), 5vw, toRem(30));
    text-align: center;
    max-width: clamp(540px, 64vw, 1185px);
    line-height: lineHeightToRem(50, 30);
    margin-bottom: 50px;
    @media (max-width: $mobile-width) {
      margin-bottom: 0;
    }
  }
  &__name {
    color: #9d875c;
    text-align: center;
    font-family: "Italiana";
    font-weight: 400;
    text-transform: capitalize;
    font-size: toRem(48);
    @media (max-width: $mobile-width) {
      font-size: toRem(36);
    }
  }
}

.text-reviews {
  &__icon-prev {
    position: relative;
    &::before {
      position: absolute;
      content: "\e905";
      display: block;
      top: -25px;
      right: 30px;
      font-family: "icomoon";
      color: #9d875c;
      @media (max-width: $mobile-width) {
        right: 15px;
      }
    }
  }
  &__icon-next {
    position: relative;
    &::before {
      position: absolute;
      content: "\e905";
      display: block;
      top: 0px;
      left: 30px;
      font-family: "icomoon";
      color: #9d875c;

      transform: scale(-1, 1);
      @media (max-width: $mobile-width) {
        left: 15px;
      }
    }
  }
}
