@use "../abstracts" as *;

.head {
  position: relative;

  width: 100%;
  margin-bottom: 150px;
  @media (max-width: $tablet-width) {
    margin-bottom: 130px;
  }
  @media (max-width: $mobile-width) {
    margin-bottom: 100px;
  }
  &__content {
    position: absolute;
    max-width: 645px;
    z-index: 2;
    @media (max-width: $mobile-width) {
      position: relative;
      margin: 15px;
    }
  }
  &__title {
    font-family: "Italiana";
    font-size: toRem(100);
    text-transform: capitalize;
    font-weight: 400;
    line-height: lineHeightToRem(100, 100);
    margin: 0 0 35px;
    @media (max-width: $tablet-width) {
      font-size: 5rem;
    }
  }
  &__bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    object-fit: cover;
    background-image: url("../img/BG.jpg");
    @include retina-image("../img/BG@2x.jpg");
  }

  &__slider-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;

    height: 750px;
    margin-left: 416px;
    padding-left: 15px;
    @media (max-width: $tablet-width) {
      margin-left: 329px;
    }
    @media (max-width: $mobile-width) {
      margin: 0 auto;
      width: 100%;
      height: 555px;
    }
  }

  &__slider-line {
    position: relative;
    right: 0;
    display: flex;
    gap: 40px;
    transition: var(--transition);
    @media (max-width: $tablet-width) {
      gap: 30px;
    }
  }
  &-slide {
    position: relative;

    z-index: 1;
    width: 120px;
    align-self: center;
    transition: var(--transition);
    @media (max-width: $tablet-width) {
      width: 100px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 120px;
      top: 12px;
      left: -2px;
      border: 1px solid #c1ab81;
      border-radius: 50%;
      z-index: -1;
      transition: var(--transition);
      @media (max-width: $tablet-width) {
        width: 100px;

        height: 100px;
        top: 12px;
        left: -2px;
      }
    }

    &--active {
      position: relative;
      z-index: 1;
      width: 650px;

      @media (max-width: $tablet-width) {
        width: 550px;
      }
      @media (max-width: $mobile-width) {
        width: 330px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 650px;
        height: 650px;
        top: 73px;
        left: -12px;
        border: 1px solid #c1ab81;
        border-radius: 50%;
        z-index: -1;
        transition: var(--transition);
        @media (max-width: $tablet-width) {
          width: 550px;
          height: 550px;
          top: 60px;
          left: -10px;
        }
        @media (max-width: $mobile-width) {
          width: 330px;
          height: 330px;
          top: 39px;
          left: -7px;
        }
      }
      & > .cat {
        left: -13px;
        top: -10px;
        scale: 1.02;
        @media (max-width: $mobile-width) {
          left: -8px;
          top: -2px;
        }
      }
      & > .dachshund {
        left: -5px;
        scale: 1.03;
        @media (max-width: $mobile-width) {
          left: -4px;
        }
      }
      & > .cat-white {
        left: 3px;
        top: 6px;
        scale: 1.04;
        @media (max-width: $mobile-width) {
          left: 0px;
          top: 6px;
        }
      }
    }
  }

  &__control {
    position: absolute;
    bottom: 70px;
    right: 0;
    z-index: 4;
    text-align: right;
    padding-right: 50px;
    @media (max-width: $mobile-width) {
      padding-right: 15px;
    }
  }
  &__btn-arrow {
    width: 60px;
    border: none;
    background: transparent;
    transition: all ease-in-out 0.5s;

    &:hover {
      scale: 1.3;
    }
  }
}
.cat {
  position: relative;
  left: 0;
  top: 0;
  scale: 1;
  transition: var(--transition);
}

.dachshund {
  position: relative;
  left: 0;
  scale: 1;
  transition: var(--transition);
}

.cat-white {
  position: relative;
  left: 0;
  top: 0;
  scale: 1;
  transition: var(--transition);
}

.about-us {
  position: relative;
  padding-top: clamp(50px, 18vw, 150px);
  padding-bottom: clamp(50px, 20vw, 165px);
  background-color: #efe9dd;
  isolation: isolate;
  &__content {
    display: flex;
    margin-bottom: clamp(50px, 10vw, 100px);
    line-height: lineHeightToRem(25, 16);
    color: #222220;
    @media (max-width: $tablet-width) {
      flex-direction: column-reverse;
      align-items: center;
    }

    & > .item__image {
      width: 860px;
      height: 100%;
      flex-shrink: 0;
      border: 1px solid #9d875c;
      padding: 20px;
      @media (max-width: $tablet-width) {
        width: clamp(200px, 84vw, 860px);
      }
    }
    & > .item__content {
      margin-top: 100px;
      margin-left: clamp(30px, 5vw, 100px);
      margin-right: 90px;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      @media (max-width: $tablet-width) {
        width: clamp(200px, 84vw, 860px);
        margin-top: 0;
        margin-bottom: clamp(20px, 10vw, 40px);
        margin-right: 0;
        margin-left: 0;
      }
    }
  }

  &__item {
    &-preheader {
      font-weight: 400;
      font-size: toRem(16);
      text-transform: capitalize;
    }
    &-postheader {
      font-style: italic;
      font-weight: 400;
    }
    &-header {
      color: #9d875c;
      font-family: "Italiana";
      font-size: toRem(48);
      line-height: normal;
      font-weight: 400;
      text-transform: capitalize;
    }
    &-button--benefit {
      color: #222220;
      background: url("../img/bg-btn.jpg") 100% / cover no-repeat;
    }
    &-icon {
      margin-bottom: 30px;
      padding: 30px;
      width: 140px;
      height: 140px;
      background: url("../img/bg-btn.jpg") 100% / cover no-repeat;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    &-text {
      width: clamp(80%, 42vw, 100%);
    }
  }
  &__benefits {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: $smallest-width) {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    mix-blend-mode: lighten;
    background: url(../img/bg-img_01.jpg);
    background-position: bottom 280px right 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.benefits-item {
  text-align: center;
  color: #222220;
  font-family: "Italiana";
  font-size: toRem(24);
  line-height: normal;
  text-transform: capitalize;
}

.big-cat {
  position: relative;
  padding-top: clamp(80px, 9vw, 160px);
  padding-bottom: clamp(80px, 9vw, 160px);
  padding-left: clamp(0px, 9vw, 155px);
  background: linear-gradient(
    90deg,
    rgba(193, 171, 129, 1) 42%,
    rgba(34, 34, 32, 1) 42%
  );
  z-index: 1;

  &__img {
    padding: 20px;
    width: clamp(200px, 84vw, 790px);
    border: 1px solid #fff;
  }

  &__decoration {
    position: absolute;
    width: clamp(100px, 19vw, 370px);
    top: 0;
    right: 0;
    z-index: -1;
  }
}
