html
	head
		link(rel="stylesheet", href="css/style.min.css")
	body
		include pug/header
		main.page
			h1 Главная
			img(src="@img/1.jpg", alt="", srcset="")
		include pug/footer
		script(src="js/main.min.js") 